/* Put this in your global CSS (e.g., index.css) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important; /* makes background transparent */
  -webkit-text-fill-color: white !important; /* keeps text white */
  caret-color: white !important; /* caret stays visible */
  transition: background-color 5000s ease-in-out 0s; /* prevents Chrome flash */
}


.gradient-border {
  border: 1px solid transparent;
  border-image: linear-gradient(
    272.61deg,
    rgba(0, 0, 0, 0.12) 2.66%,
    rgba(0, 0, 0, 0.06) 100%,
    rgba(0, 0, 0, 0.03) 100%
  ) 1;
}
