@import "tailwindcss";

:root {
  font-family: "Poppins";
}

.scrollbar-grey::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-grey::-webkit-scrollbar-thumb {
  background-color: #2E3439;
  border-radius: 8px;
}

.scrollbar-grey::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}

.scrollbar-dark::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #1E2328;
  border-radius: 8px;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}

/* Hide spin-buttons for number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}