@import "tailwindcss";
:root {
  font-family: "Poppins";
}

.scrollbar-grey::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-grey::-webkit-scrollbar-track {
  background: #1E2328;
}

.scrollbar-grey::-webkit-scrollbar-thumb {
  background-color: #393939; 
  border-radius: 8px;
}

.scrollbar-grey::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}
